apiVersion: v1
kind: Secret
metadata:
  name: git-credentials
  namespace: tracking-system
  annotations:
    # Tekton cred-init rozpozná tento annotation a nakonfiguruje ~/.git-credentials
    # pro HTTPS git clone + git push bez explicitního hesla
    tekton.dev/git-0: https://github.com
type: kubernetes.io/basic-auth
stringData:
  # GitHub PAT s oprávněními: repo (write), write:packages, read:packages
  username: <GITHUB_USERNAME>
  password: <GITHUB_PAT>